.habitos-saludables{
    max-width:5rem; 
    background-color: rgb(105, 177, 177);

    img{
        height:10rem;
    }
}
.carousel-recetas {
    max-width:10rem; 
    background-color: rgb(105, 177, 177);
    img{
        height:8rem;
    }
}






