.Index-footer {
 background-color: hsl(180, 36%, 39%);
  background-size: center;
  background-position: absolute;
  position: relative;
  
}
    .card {
        position:absolute;

        transform: translate(10%, -10%);
        background-color: rgba(134, 245, 206, 0.8);
        padding: 5px;
        border-radius: 1px;
        text-align: center;

        .btn-btn-primary {
        background-color: rgba(29, 82, 6, 0.5);
        padding: 5rem 10rem;
        border: none;
        border-radius:0.5rem;
        font-weight: 500;
        text-transform: uppercase;
        transition: transform 0.3s;

    }

    }

    